@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.float{
  animation: floatMe 1s linear infinite alternate-reverse;
}

@keyframes floatMe {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-10px);
  }
}